@import './root.scss';

.equipo-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  padding-bottom: 5%;
  list-style: none;
  background-color: $background_brown_light;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  align-self: center;


  .footer-container{
    background-color: transparent;
  }



  .navbar {
    color: $nav_links_white;

    .navbar button span {
      background-color: $nav_links_white !important;
    }

    .navbar-brand {
      color: $nav_links_white;
    }

    .nav-link {
      background:
        linear-gradient(to right,
          rgba(100, 200, 200, 0),
          rgba(100, 200, 200, 0)),
        linear-gradient(to right,
          $nav_links_white,
          $nav_links_white,
          $nav_links_white);
      background-size: 100% 3px, 0 3px;
      background-position: 100% 100%, 0 100%;
      background-repeat: no-repeat;
      transition: background-size 400ms;
    }

    .nav-link:hover {
      background-size: 90% 3px;
      background-position: 50% 100%;
      color: $nav_links_white;
    }

    span {
      background-color: $nav_links_white !important;
    }

    .navbar-nav {
      filter: opacity(98%);
    }

  }




  .equipo-container_text {
    width: 95%;
    height: 100%;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 30px;
    padding-top: 8%;
    padding-bottom: 0px;
    list-style: none;
    background-color: $background_brown_light;
    filter: opacity(90%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    align-self: center;
    font-family: $font_family_primary;
    text-align: justify;

    h1{
      color: $nav_links_white;
      font-size: 1.9em;
      font-weight: bold;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 30px;
      width: 100%;
    }

    p {
      color: $button_background_color;
      font-size: 1.5em;
    }
  }



 /* media querys */
  @media (max-width: 768px) {
    
  .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color: $background_brown;
    filter: opacity(97%);
    display: flex;
    flex-direction: column;
    color:$modal_background_color ;


    .active{
      color: $nav_links_white !important;
    

      span{
        color: red;
        background-color: red !important;
        z-index: 100;
      }
    }
  }



}





  

}
