@import './root.scss';

.pagination-component_container{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: fit-content;
  max-height: 80px;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;


  .pagination-component{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    height: fit-content;
    max-height: 100px;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;

    .pagination-component_indexes{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      color: white;
      height: 100%;
      border-width: 3px;
      border-style: solid;
      border-top: none;
      border-left: none;
      border-right: none;
      border-image: linear-gradient(to right, #FC0441 50%, #FE7575);
      border-image-slice: 1;

      p{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: fit-content;
        max-height: 100px;
        padding: 4px;
        margin: 0;
        overflow: hidden;
        font-size: 0.9em;
        color: white;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        color: $button_background_color;
        cursor: pointer;
        &:hover{
          background-color: #24262B;
        }

        p{
          margin: 0px;
        }
      }
      
    }


    .pagination-component_button{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: fit-content;
      height: 100%;
      max-height: 100px;
      padding: 0;
      margin: 0;
      

      button{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: fit-content;
        padding: 0;
        margin: 0;
        border: none;
        padding: 7px;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        font-size: 1.5rem;
        font-weight: bold;
        color: #fff;
        transition: all 0.3s ease-in-out;
        &:hover{
          color: $gradient_pink;
        }
      }
    }
  }

}


.currentIndex{
  color: $gradient_pink !important;
}