//import font Noto Sans
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500;600;700&display=swap');

/********Colors********/
/* backgrounds */
$background_brown: #291717;
$background_gray_dark: #24262B;
$background_gray_light: #FFFFFF26;
$button_background_color: #FFFFFFCC;
$gradient_pink: #FC0441;
$gradientpink_soft: #FE7575;
/* text */
$main_title_brown: #2B2424;
$nav_bar_links_color: #291717;
$subtitle_gray: #3F3F3F;
/********Fonts********/
$font_family_primary: 'Noto Sans',
arial;
$font_width_medium: 22px;
$font_title: normal normal bold 28px/37px Noto Sans;;
$font_link: normal normal 600 23px/32px Noto Sans;
$font_portada: normal normal bold 65px/88px Noto Sans




