@import './root.scss';

.videoclips-section {
  background-color: $background_gray_dark;
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.videoclips-section_header {
  text-align: center;
  color: $button_background_color;
  font: $font_width_small;

  p {
    width: 90%;
    text-align: center;
    margin-bottom: 0 !important;
  }
}


.videoclips-section_header_icon {
  color: $gradient_pink;
  font-size: 38px;
  margin-top: -5px;
}


/* media querys */
@media screen and (max-width: 868px) {
  .videoclips-section_header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
